.bg-gradient-1 {
    background: $rgb-light-1;
    background: linear-gradient(0deg, $rgb-light-1 0%, $rgba-older-1 35%, $rgba-older-1 100%);
}

.input-border-radius-15 {
    border-radius: 15px;
}

.input-height-30 {
    height: 30px;
}

.input-gradient {
    background: $theme-color-3;
    background: linear-gradient(0deg, $theme-color-3 0%, $theme-color-2 35%, $theme-color-2 100%);
}

.card {
    box-shadow: var(--box-shadow-1);
}

.border-radius-5px {
    border-radius: 5px;
}

.mr-box {
    margin: 10px 0px;
}

.bg-gradient-2-color {
    background: linear-gradient(0deg, #434247 0%, #54555a 35%, #6f737c 100%);
}

.container-size {
    width: 1024px;
}

.nav-image-bg {
    background-image: url('/images/navbar-logo/nav-ig-game.jpg');
}

.running-image-br-ig {
    background-image: url('/images/running-ig/running-image.jpg');
}

.header-image-br-ig {
    background-image: url('/images/header/nav-bg.jpg');
}

//button 
.btn-bg-red {
    background-image: url('/images/button/button-nav-red.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}

.btn-bg-white {
    background-image: url('/images/button/button-nav-white.jpg');
    background-size: contain;
    background-repeat: repeat-x;
}