.border-radius-3px {
    border-radius: 3px;
}

.container-size {
    width: 1024px;
}

.nav-image-bg {
    background-image: url('/images/navbar-logo/nav-ig-game.jpg');
    @extend .bg-size-repeat;
}

.running-image-br-ig {
    background-image: url('/images/running-ig/running-image.jpg');
    @extend .bg-size-repeat;
}

.header-image-br-ig {
    background-image: url('/images/header/nav-bg.jpg');
    @extend .bg-size-repeat;
}

.bg-size-repeat {
    background-size: contain;
    background-repeat: repeat-x;
}

.btn-bg-red {
    background-image: url('/images/button/button-nav-red.jpg');
    @extend .bg-size-repeat;
}

.btn-bg-white {
    background-image: url('/images/button/button-nav-white.jpg');
    @extend .bg-size-repeat;
}

.tab-bg-img {
    background-image: url('/images/tab/tab-img.jpg');
    @extend .bg-size-repeat;
}

.tab-selec-bg-img {
    background-image: url('/images/tab/tab-select-img.jpg');
    @extend .bg-size-repeat;
}

.card-br-ig {
    background-image: url('/images/card/card-ig.png');
    @extend .bg-size-repeat;
}

.border-right {
    border-right: 1px solid $border-div-left;
}

.keyframes {
    @keyframes blink {
        50% {
            opacity: 0
        }
    }
    @-webkit-keyframes blink {
        50% {
            opacity: 0
        }
    }
}

.btn-custom {
    padding: 7px 40px 7px 40px;
    @extend .border-radius-3px;
    @extend .btn-font;
}

.btn-font {
    border: 1px;
    @extend .font-size;
}

.display-grid {
    display: grid;
    grid-gap: 10px;
}

.position-fixed {
    position: fixed;
}

.color-white {
    color: $color-white;
}

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}

.magrin-0-auto {
    margin: 0 auto;
}

.z-index-1 {
    z-index: 9999;
}

.font-size {
    font-weight: 700;
    font-size: 15px;
}

.span-font {
    font-weight: 400;
    font-size: 13px;
}

.body-container-style {
    @extend .btn-bg-red;
    @extend .border-radius-3px;
    margin: 10px 0px;
}

.card-content-style {
    border-bottom: 1px solid $border-right-cr;
    padding: 0px 0px 20px 0px;
}

.contend-text-style {
    padding: 0px 0px 20px 0px;
}