// Template scss variable
// Please define here
$theme-color: #ffcd02;
$theme-color-2: #ffeea9;
$theme-color-3: #ffc11e;
$text-color-1: #ffffff;
$border-color-1: #ffa900;
$btn-color-1:#990000;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #54555a;
$bg-gray-contain: #424146;
$bg-body-field: #39383d;
$text-red: #c3001c;
$scroll-cr: #c2001d;
$scroll-bar-cr: #333333;
$border-right-cr: #71767c;
$border-div-left: #383c3f;
$tab-cr: #f1f0f5;
$tab-cr-border-bottom: #9c9ba0;
// $xxl-device: 'only screen and (min-width: 1400px)';
// $xl-device: 'only screen and (max-width: 1399px)';
// $lg-device: 'only screen and (max-width: 1199px)';
// $md-device: 'only screen and (max-width: 991px)';
// $sm-device: 'only screen and (max-width: 767px)';
// $xs-device: 'only screen and (max-width: 575px)';
// $xxs-device: 'only screen and (max-width: 479.98px)';
// $xss-device: 'only screen and (max-width: 359.98px)';
// $xl-down-device: 'only screen and (min-width: 1200px)';
// $lg-down-device: 'only screen and (min-width: 992px)';
// $sm-down-device: 'only screen and (min-width: 768px)';